<!--헤더랑 푸터는 모든 사이트에서 동일 할 경우 현재 파일에서 공통 부분을 작성함-->
<!DOCTYPE html>
<html xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 공통 -->
    <meta charset="UTF-8">
    <title>메인페이지</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>

    <link rel="stylesheet" href="/css/common/reset.css">
    <link rel="stylesheet" href="/css/common/mainBase.css">
</head>
<body>
<div id="wrapper">
    <header id="header">
        <div id="nav-auth-wrap">
            <div class="search-box">
                <input type="text" placeholder="검색어를 입력해주세요">
            </div>
            <ul id="nav-auth">
                <th:block th:if="${loginMember}">
                    <li><a th:href="|/members/${loginMember.id}|" th:text="${loginMember.name}">이름</a></li>
                    <li><a href="#" onclick="onClickLogoutBtn()">로그아웃</a></li>
<!--                    <li><a href="#">한글</a></li>-->
                </th:block>
                <th:block th:unless="${loginMember}">
                    <li><a href="/members/login">로그인</a></li>
                    <li><a href="/members/join">회원가입</a></li>
<!--                    <li><a href="#">한글</a></li>-->
                </th:block>
                <li>
                    <select id="languageSelect" onchange="changeLanguage(this)" name="language">
                        <!-- 한국어 선택 옵션 -->
                        <option th:selected="${#request != null && #request.getAttribute('userLanguage') == 'ko'}"
                                th:value="ko">한국어</option>
                        <!-- 영어 선택 옵션 -->
                        <option th:selected="${#request == null || #request.getAttribute('userLanguage') != 'ko'}"
                                th:value="en">English</option>
                    </select>
                </li>
            </ul>
        </div>
        <div id="logo-wrap">
            <h1><a href="/">라인 피그</a></h1>
        </div>
    </header>
    <nav>
        <ul id="nav-menu-wrap">
            <li><h2><a th:href="|/products|">쇼핑</a></h2></li>
            <li><h2><a th:href="|/infos|">정보</a></h2></li>
            <li><h2><a th:href="|/notices|">공지</a></h2></li>
            <li><h2><a th:href="|/contacts|">연락</a></h2></li>
            <li><h2><a th:href="|/magazines|">기사</a></h2></li>
        </ul>
    </nav>

    <!--content-->
    <th:block layout:fragment="content"/>

    <footer>
        푸터 영역
    </footer>
</div>

<script src="/js/common/mainBase.js"></script>
<th:block layout:fragment="scripts"/>
</body>
</html>