<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form id="google-login-form" action="/oauth/google/login" method="POST"></form>
<button onclick="googleLogin()">구글 로그인</button>

<form id="facebook-login-form" action="/oauth/facebook/login" method="POST"></form>
<button onclick="facebookLogin()">페이스북 로그인</button>
<script>

    function googleLogin() {
        const googleLoginForm = document.querySelector('#google-login-form');
        googleLoginForm.submit();
    }

    function facebookLogin() {
        const facebookLoginForm = document.querySelector('#facebook-login-form');
        facebookLoginForm.submit();
    }
</script>
</body>
</html>