<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:placeholder="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/mainBase}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>line pig 메인페이지</title>
    <link rel="stylesheet" href="/css/common/reset.css">
    <link rel="stylesheet" href="/css/main/welcome.css">
</head>
<body>
    <div id="wrapper">
        <header id="header">
            <div id="nav-auth-wrap">
                <div class="search-box">
                    <input type="text" placeholder="검색어를 입력해주세요">
                </div>
                <ul id="nav-auth">
                    <th:block th:if="${loginMember}">
                        <li><a th:href="|/members/${loginMember.id}|" th:text="${loginMember.name}">이름</a></li>
                        <li><a href="#" onclick="onClickLogoutBtn()">로그아웃</a></li>
                        <!--                    <li><a href="#">한글</a></li>-->
                    </th:block>
                    <th:block th:unless="${loginMember}">
                        <li><a href="/members/login">로그인</a></li>
                        <li><a href="/members/join">회원가입</a></li>
                        <!--                    <li><a href="#">한글</a></li>-->
                    </th:block>
                    <li>
                        <select id="languageSelect" name="language">
                            <!-- 한국어 선택 옵션 -->
                            <option th:selected="${userLanguage == 'ko'}"
                                    th:value="ko">한국어</option>
                            <!-- 영어 선택 옵션 -->
                            <option th:selected="${userLanguage != 'ko'}"
                                    th:value="en">English</option>
                        </select>
                    </li>
                </ul>
            </div>
            <div id="logo-wrap">
                <h1><a href="/">라인 피그</a></h1>
            </div>
        </header>

        <main id="content-wrap">
            <div id="shop-wrap">
                <div id="slider-wrap">
                    <ul class="nav-menu">
                        <li><h2>쇼핑</h2></li>
                        <li><h2>정보</h2></li>
                        <li><h2>공지</h2></li>
                        <li><h2>연락</h2></li>
                    </ul>
                    <ul>
                        <li>슬라이더 이미지1</li>
                        <li>슬라이더 이미지2</li>
                        <li>슬라이더 이미지3</li>
                    </ul>
                </div>
                <div id="item-wrap">
                    <ul>
                        <li>
                            <img src="#" alt="상품 이미지">
                            <div class="item-info">
                                <div>
                                    <span>Glass cup</span> | <span>water&water</span>
                                </div>
                                <div>
                                    <span>ABC stodio</span> - <span>KOREA</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <img src="#" alt="상품 이미지">
                            <div class="item-info">
                                <div>
                                    <span>Glass cup</span> | <span>water&water</span>
                                </div>
                                <div>
                                    <span>ABC stodio</span> - <span>KOREA</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <img src="#" alt="상품 이미지">
                            <div class="item-info">
                                <div>
                                    <span>Glass cup</span> | <span>water&water</span>
                                </div>
                                <div>
                                    <span>ABC stodio</span> - <span>KOREA</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="notice-wrap">
                <ul class="nav-menu notice">
                    <li><h2>기사</h2></li>
                </ul>
                <ul>
                    <li>
                        <h3>
                            <span>1.</span>
                            <p>미국도 중국도 중요한 한국 무역, 묘수는[강문성의 경제 돋보기]...</p>

                        </h3>
                        <img src="#" alt="기사">
                    </li>
                    <li>
                        <h3>
                            <span>2.</span>
                            <p>미국도 중국도 중요한 한국 무역, 묘수는[강문성의 경제 돋보기]...</p>
                        </h3>
                        <img src="#" alt="기사">
                    </li>
                    <li>
                        <h3>
                            <span>3.</span>
                            <p>미국도 중국도 중요한 한국 무역, 묘수는[강문성의 경제 돋보기]...</p>
                        </h3>
                        <img src="#" alt="기사">
                    </li>
                    <li>
                        <h3>
                            <span>4.</span>
                            <p>미국도 중국도 중요한 한국 무역, 묘수는[강문성의 경제 돋보기]...</p>
                        </h3>
                        <img src="#" alt="기사">
                    </li>
                </ul>
            </div>
        </main>

        <footer>
            푸터 영역
        </footer>

    </div>

</body>
</html>