<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:placeholder="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/mainBase}">
<head>
    <title>게시판 페이지</title>
    <link rel="stylesheet" href="/css/board/boardList.css">
</head>
<body>

<!-- 게시판목록 페이지 start -->
<div layout:fragment="content">
    <div id="main-board-wrap">
        <div id="title-wrap">
            <h2>Q&A</h2>
            <h3>사이즈 문의, 입금 배송 문의,코디 문의, 이벤트 문의 등 모든 궁금한 사항들을 남겨주세요~</h3>
        </div>
        <div id="button-wrap">
            <div class="board-write-button">
                <button>글쓰기</button>
            </div>
        </div>
        <div id="content-wrap">
            <ul class="board-header-wrap">
                <li class="board-sequence">번호</li>
                <li class="board-title">제목</li>
                <li class="board-writer">작성자</li>
                <li class="board-view-count">조회수</li>
                <li class="board-written-on">작성일</li>
            </ul>
            <ul class="board-data-grid-wrap">
                <li>
                    <ul class="board-data-wrap">
                        <li class="board-sequence">1</li>
                        <li class="board-title">쇼핑몰 배송비 정책 변경 안내</li>
                        <li class="board-writer">SONA</li>
                        <li class="board-view-count">431</li>
                        <li class="board-written-on">2023-04-02</li>
                    </ul>
                </li>

                <li>
                    <ul class="board-data-wrap">
                        <li class="board-sequence">2</li>
                        <li class="board-title">쇼핑몰 배송비 정책 변경 안내</li>
                        <li class="board-writer">SONA</li>
                        <li class="board-view-count">431</li>
                        <li class="board-written-on">2023-04-02</li>
                    </ul>
                </li>
                <li>
                    <ul class="board-data-wrap">
                        <li class="board-sequence">3</li>
                        <li class="board-title">쇼핑몰 배송비 정책 변경 안내</li>
                        <li class="board-writer">SONA</li>
                        <li class="board-view-count">431</li>
                        <li class="board-written-on">2023-04-02</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="board-page-button-main-wrap">
            <ul class="board-page-button-wrap">
                <li><<</li>
                <li><</li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>></li>
                <li>>></li>
            </ul>
        </div>
    </div>
</div>
<!-- 게시판목록 페이지 end -->

<!-- javaScript 파일-->
<th:block layout:fragment="scripts">
</th:block>
</body>
</html>