<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:placeholder="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/mainBase}">
<head>
    <title>제품 상세 페이지</title>
    <link rel="stylesheet" href="/css/product/product.css">
</head>
<body>

<!-- 상품상세페이지 start -->
<div layout:fragment="content">
    <div id="main-wrap">
        <div id="product-info-top">
            <div class="product-image-wrap">
                <div class="product-image-main-wrap">
                    <img class="product-image-main" src="https://storage.googleapis.com/linepig-81fdb.appspot.com/2a125131-e427-4442-9846-79e36da47f02.png" alt="">
                </div>
                <ul class="product-image-sub-wrap">
                    <li><img class="product-image-sub-wrap" src="https://storage.googleapis.com/linepig-81fdb.appspot.com/2a125131-e427-4442-9846-79e36da47f02.png" alt=""></li>
                    <li><img class="product-image-sub-wrap" src="https://storage.googleapis.com/linepig-81fdb.appspot.com/a48902d6-1277-4f36-bb19-03403eebc80e.png" alt=""></li>
                </ul>
            </div>
            <div id="product-name-price-option-special-wrap">
                <div id="product-name-wrap">
                    <h2 class="product-name" th:text="${product.name}">제품이름</h2>
                    <h3 class="product-name-description" th:text="${product.nameDescription}">부재</h3>
                </div>
                <div id="product-price-wrap">
                    <div class="product-price product-info-title">
                        <span>가격</span>:<span th:text="|${product.unitOfCurrency}${product.price}|">$200</span>
                    </div>
                    <p class="product-price-description product-info-item">미국(으)로 보낼경우 US달러 배송 및 수입 수수료가 부과됩니다.</p>
                </div>
                <div id="product-option-wrap">
                    <h3 class="product-info-title">옵션 선택</h3>
                    <th:block th:each="productOption : ${product.productOptions}">
                        <div class="product-option">
                            <label for="a" th:text="${productOption.optionName}">크기 : </label>
                            <select name="">
                                <th:block th:each="productOptionItem : ${productOption.productOptionItems}">
                                    <option th:value="${productOptionItem.id}" th:text="${productOptionItem.optionValue}">01. 20x20x20</option>
                                </th:block>
                            </select>
                        </div>
                    </th:block>
                </div>
                <div id="product-special-wrap">
                    <h3 class="product-info-title">특이사항</h3>
                    <ul class="product-special ">
                        <th:block th:each="productSpecial : ${product.productSpecials}">
                            <li class="product-info-item" th:text="${productSpecial.value}">※ 세트에는 50.8cm(20인치) 기내용 가방*국내 여행이나 가벼운 상태를 유지하려는 사람들을 위한 기내 반입 크기 제한(충족)과 61cm(24인치)스피너...</li>
                        </th:block>
                    </ul>
                </div>
                <ul id="product-button-wrap">
                    <li class="product-count-wrap">
                        <label for="product-count">수량</label>
                        <input id="product-count" type="number" value="1"/>
                    </li>
                    <li><a href="#">장바구니</a></li>
                    <li><a href="#">결제하기</a></li>
                </ul>
            </div>
        </div>
        <div id="product-info-bottom">
            <div id="product-detail">
                <h3>세부정보</h3>
                <ul>
                    <th:block th:each="productDetail:${product.productDetails}">
                        <li>
                            <span th:text="${productDetail.name}">제조업체</span>
                            <span th:text="${productDetail.value}">Metronic</span>
                        </li>
                    </th:block>
                </ul>
            </div>
            <div id="product-detail-image-wrap">
                <h3 id="product-detail-image-content-title">상세 이미지</h3>
                <div id="product-detail-image-content-wrap">
                    <ul id="product-detail-image">
                        <th:block th:each="productDetailImage:${product.productDetailImages}">
                            <li><img th:src="${productDetailImage.uploadFile.uploadFileLink}" th:alt="${productDetailImage.uploadFile.originFileName}"></li>
                        </th:block>
                    </ul>

                    <!--따라다니는 상품구매 버튼-->
                    <div id="product-name-option-button-wrap">
                        <div class="product-name-wrap">
                            <h2 class="product-name">제품이름</h2>
                            <h3 class="product-name-description">부재</h3>
                        </div>


                        <div class="product-option-wrap">
                            <h3>옵션선택</h3>
                            <th:block th:each="productOption : ${product.productOptions}">
                                <div class="product-option">
                                    <label for="a" th:text="${productOption.optionName}">크기 : </label>
                                    <select name="" id="a">
                                        <th:block th:each="productOptionItem : ${productOption.productOptionItems}">
                                            <option th:value="${productOptionItem.id}" th:text="${productOptionItem.optionValue}">01. 20x20x20</option>
                                        </th:block>
                                    </select>
                                </div>
                            </th:block>
                        </div>
                        <div id="product-sub-button-wrap">
                            <div class="product-total-price-wrap">
                                <div>
                                    <label for="sub-number">수량</label>
                                    <input type="number" id="sub-number" value="1"/>
                                    <span class="total-price-name" id="sub-total-price">총금액</span>
                                </div>
                                <span class="total-price-value" th:text="|${product.unitOfCurrency}${product.price}|">$300</span>
                            </div>
                            <ul>
                                <li><a href="#">장바구니</a></li>
                                <li><a href="#">결제하기</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 상품상세페이지 end -->

<!-- javaScript 파일-->
<th:block layout:fragment="scripts">
    <script th:src="@{/js/product/product.js}"></script>
</th:block>
</body>
</html>