<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:placeholder="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/mainBase}">
<head>
    <title>판매자 목록 페이지</title>
</head>
<body>

<!-- 상품상세페이지 start -->
<div layout:fragment="content" class="container-fluid pt-4 px-4">

</div>
<!-- 상품상세페이지 end -->

<!-- javaScript 파일-->
<th:block layout:fragment="scripts">
    <script th:src="@{/js/admin/product/productForm.js}"></script>
</th:block>
</body>
</html>