/* main */ #content-wrap{
    width:100%;
    display: flex;
    margin-top:10px;
}

#shop-wrap{
    width:100%;
    display: flex;
    flex-direction: column;
}

/*슬라이더*/
#swiper-container-outer{
    height:220px;
    margin-bottom:30px;
    overflow: hidden;
}
.swiper-container {
    height:100%;
}
.swiper-wrapper {
    height:100%;
}

#swiper-container-outer .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e0e0e0;
    cursor: pointer;
}


/*상품*/
#shop-wrap #item-wrap{
    width:100%;
}

#shop-wrap #item-wrap ul{
    display: flex;
    justify-content: space-between;
}

.product-wrap {
    width:32%;
    cursor: pointer;
}

.product-wrap .product-image-wrap {
    width:100%;
}

.product-wrap .product-image-wrap img{
    width:100%;
}

.product-wrap .product-info-wrap{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right:5px;
}
.product-wrap .product-info-wrap .product-name-wrap {
    display: flex;
}


#magazine-wrap{
    width:200px;
    margin-left:30px;
}
#magazine-wrap li{
    margin-bottom:15px;
    cursor: pointer;
}

#magazine-wrap h3{
    display: flex;
    font-size:16px;
    font-family: 'Lato', sans-serif;
}
#magazine-wrap h3 span{
    margin-right:5px;
}
#magazine-wrap h3 p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}
#magazine-wrap img{
    display: block;
    width:100%;
    height:200px;
}